.containerAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.btn {
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  justify-content: center;
  align-items: center;
  display: flex;
}
.value {
  margin: 0 15px;
}
.result {
  margin-top: 15px;
}
